body {
    background-color: #bbbbbb;
    color: #81a1c1;
    margin: 0;
    font-family: 'Georgia', serif;
}

h1 {
    font-size: 600%;
    padding: 1.5%;
    color: #f5f5dc;
    background-color: black;
    background-size: cover;
    border: 2px dashed gray;
    width: auto;
    display: inline;
}

h2 {
    font-size: 400%;
    text-align: center;
    background-color: #ddeeff
}

h3 {
    font-size: 300%;
}

h4 {
    font-size: 400%;
}

p {
    font-size: 400%;
    margin-left: 1%;
    color: #ddeeff;
}

p.contacts {
    font-size: 200%
}

p.hat {
    font-size: 300%;
    color: black;
}

div {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 1%;
}

div.hat {
    height: 100%;
    background-image: url("screenshots/ковер.jpg");
    background-size: cover;
    text-align: center;

}

div.customer {
    background-size: cover;
    border: 2px solid gray;
    width: auto;
    background-color: #181818
}

div.advantages {
    color: rgb(79, 200, 250);
    border: 10px solid black;
    position: relative;
}

div.advantages-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("screenshots/mechanizm3.jpg");
    background-size: 100% 100%;
    opacity: 0.15;
    z-index: 1;
}

ul {
    font-size: 300%;
    color: #81a1c1;
}

p.ul {
    font-size: 100%;
    color: #81a1c1;
}

a {
    color: #ddeeff;
}

a:hover {
    color: rgb(50, 150, 250);
    font-size: 110%
}

::-webkit-scrollbar {
    height: 15px;
}

::-webkit-scrollbar-track {
    background: #1b1e2b;
    border-radius: 10px; /* Скругленные углы трека */
}

::-webkit-scrollbar-thumb {
    background-color: #81a1c1; /* Цвет ползунка */
    border-radius: 10px; /* Скругленные углы ползунка */
    border: 3px solid #2e3440; /* Отступы между ползунком и треком */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5e81ac; /* Цвет ползунка при наведении */
}